<app-pagination (pagAtt)="getCard($event)" class=""></app-pagination>

<div  class="d-flex align-items-center justify-content-center flex-wrap">
    <div class="card mx-2 my-2" style="width: 18rem;" *ngFor="let c of characters" >
        <img src="{{ c.image }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ c.id }} : {{c.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Status: {{c.status}}</li>
            <li class="list-group-item">Species: {{c.species}}</li>
            <li class="list-group-item">Gender: {{c.gender}}</li>
        </ul>
    </div>
</div>

<app-pagination (pagAtt)="getCard($event)" class=""></app-pagination>